@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Bd.eot');
    src: url('HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Bd.woff') format('woff'),
        url('HelveticaNeueLTStd-Bd.ttf') format('truetype'),
        url('HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtCn.eot');
    src: url('HelveticaNeueLTStd-UltLtCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-UltLtCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtCn.woff') format('woff'),
        url('HelveticaNeueLTStd-UltLtCn.ttf') format('truetype'),
        url('HelveticaNeueLTStd-UltLtCn.svg#HelveticaNeueLTStd-UltLtCn') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-LtEx.eot');
    src: url('HelveticaNeueLTStd-LtEx.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-LtEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-LtEx.woff') format('woff'),
        url('HelveticaNeueLTStd-LtEx.ttf') format('truetype'),
        url('HelveticaNeueLTStd-LtEx.svg#HelveticaNeueLTStd-LtEx') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

