@import 'import';

// ****************************************
//
// ****************************************
//
// ****************************************

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeftToCenter {
  0% {
		left: 0;
		transform: translateX(0);
  }
  100% {
		left: 50%;
		transform: translateX(-50%);
  }
}
@keyframes slideInFromCenterToLeft {
	0% {
		left: 50%;
		transform: translateX(-50%);
  }
  100% {
		left: 0;
		transform: translateX(0);
  }
}
@keyframes temblor{
	0%{transform:translate(0px,0px);}
	10%{transform:translate(20px,0px);}
	20%{transform:translate(0px,0px);}
	30%{transform:translate(20px,0px);}
	40%{transform:translate(0px,0px);}
	50%{transform:translate(20px,0px);}
	60%{transform:translate(0px,0px);}
	70%{transform:translate(20px,0px);}
	80%{transform:translate(0px,0px);}
	90%{transform:translate(20px,0px);}
	100%{transform:translate(0px,0px);}
}
@keyframes animation-ending {
	0%, 100% {
		border-top-left-radius: 100vh;
		border-top-right-radius: 100vh;
	}
	0%{
		height: 25%;
		width: 15%;	
	}
	10%{
		height: 32.5%;
		width: 22.5%;
	}
	20%{
		height: 40%;
		width: 30%;
	}
	30%{
		height: 47.5%;
		width: 37.5%;
	
	}
	40%{
		height: 55%;
		width: 45%;
	}
	50%{
		height: 62.5%;
		width: 55.5%;
	}
	60%{
		height: 70%;
		width: 60%;
	}
	70%{
		height: 77.5%;
		width: 67.5%;
	}
	80%{
		height: 85%;
		width: 75%;
	}
	90%{
		height: 92.5%;
		width: 82.5%;	
	}
	100%{
		height: 100%;
		width: 90%;	
	}
}
@keyframes animation-waiting {
	from {background: rgba(#000, .1);}
  to {background: rgba(#000, .3);}
}
@keyframes fadeInFromNone {
	0% {
			display: none;
			opacity: 0;
	}

	1% {
			display: block;
			opacity: 0;
	}

	100% {
			display: block;
			opacity: 1;
	}
}
.animation-load-page {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 100%;
	overflow: hidden;
	&.animation-load-page--waiting {
		height: 25%;
		width: 15%;
		border-top-left-radius: 100vh;
    border-top-right-radius: 100vh;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			animation: animation-waiting .6s infinite;
		}
	}
	&.animation-load-page--ending {
		animation: animation-ending .6s ease-in-out;
	}
	&.animation-load-page--finished {
		.header,
		.content-page_inner {
			display: block;
			animation: fadeInFromNone 0.5s ease-out;
		}
	}
	.header,
	.content-page_inner {
		display: none;
	}
	.content-page {
		width: 100vw;
    height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	}
}

html,body {
	height: 100%;
	overflow: hidden;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	@include font-size($f-size);
	font-family: $f-body;
	color: $c-text;
	line-height: 1.4;
	padding: 0;
	margin: 0;
	min-width: 320px;
	letter-spacing: .05em;
	background-color: $body-background;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
a,
input,
textarea,
button,
select,
.button,
[role='button'] {
	&:focus { //## should be for accessibility
		// outline: 0;
		@include accessibility-outline;
	}
	&:focus:active {
		outline: 0;
	}
}
[tabindex='-1']:focus {
	outline: 0;
}
button {
	color: inherit; // reduce css file size
}
// headings
h1, h2, h3, h4, h5, h6 {
	font-family: $font-butler-name;
    margin-top: 0;
    margin-bottom: calculateRem(20px);
}
h1, h2 {
	@include font-size(30px);
}
a {
	text-decoration: none;
	color: $c-link;
	cursor: pointer;
	&:hover {
		//color: $c-link-hover;
		opacity: .7;
	}
	&:active {
		text-decoration: inherit;
	}
}
[role='button'] {
	cursor: pointer;
}
::selection {
	color: #fff;
	background-color: $c-primary;
}

strong {
	font-weight: $f-weight-medium;
}

p {
	margin-bottom: calculateRem(18px);
}
em {
	font-style: italic;
}
sup, sub {
	font-size: .75em;
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
sup {
	vertical-align: top;
	a {
		vertical-align: top;
	}
}
sub {
	vertical-align: bottom;
	a {
		vertical-align: bottom;
	}
}
fieldset {
	width: 100%;
}

input {
	font-family: $font-name;
	@include font-size($f-size);
}

// + Template
// -------
.page-wrap {
	position: relative;
	height: 100%;
	transition: margin 700ms;
}
// 
@keyframes header-icon-rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
	}
}
@keyframes header-icon-norotation {
	from {
		transform: rotate(90deg);
	}
	to {
		transform: rotate(0deg);
	}
}
$header-height: 72px;
.header--opened {
	.header {
		> ul > li {
			.header-submenu {
				display: inline-block;
				top: 90%;
			}
			& > a {
				.header-logo_icon {
					animation: header-icon-rotation .5s 1;
					transform: rotate(90deg);
				}
			}
		}

		.header-image_bottom {
			display: block;
		}
	}
	.ui-overlay {
		opacity: 1;
		z-index: 1;
	}
}
.header--closed {
	.header {
		> ul > li {
			& > a {
				animation: header-icon-norotation .5s 1;
				transform:rotate(0deg);
			}
		}
	}
}
.header {
	position: fixed;
	left: 0;
	top: 0;
	animation: 1s ease-out 0s 1 slideInFromLeft;
	height: calculateRem($header-height);
	z-index: 2;
	width: 100%;
	> ul > li {
		position: relative;
		text-align: center;
		& > a {
			display: block;
			width: calculateRem(40px);
			margin: calculateRem(20px);
			opacity: 1;
			img {				
				height: calculateRem(50px);
			}
		}
	}
}

.header-submenu {
	display: none;
	left: 0;
	top: 91%;
	max-height: 70vh;
	overflow-y: auto;
	text-align: center;
	transition: top .9s ease, opacity .1s ease;
	a {
    color: #fff;
    text-transform: uppercase;
    padding: calculateRem(12px) calculateRem(10px);
    display: inline-block;
		&.active {
			border-bottom: 1px solid #fff;
		}
	}
}

.header-logo {
	margin: 0;
	img {
		max-width: 100%;
    height: calculateRem($header-height);
    object-fit: contain;
	}
}

.header-logo_icon {
	display: inline-block;
	width: calculateRem(40px);
	height: calculateRem(30px);
	position: relative;
	z-index: 1;
	border-top: calculateRem(3px) solid #fff;
	border-bottom: calculateRem(3px) solid #fff;
	&::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #fff;
    height: calculateRem(3px);
    width: 100%;
	}
}

.header-image_bottom {
	display: none;
	img {
		position: fixed;
		bottom: 0;
		width: 100px;
		z-index: 3;
		left: 50%;
		transform: translateX(-50%);
		bottom: 10px;
	}
}

.header-page_title {
	@include hide-visually;
}

// images
.image_container--default {
	height: 100%;
	width: 100%;
	display: flex;
	overflow: hidden;
	&.image_container--default--overlay {
		&::before {
			content: '';
			@include overlay-style();
			z-index: 2;
			opacity: 1;
		}
	}
	.image_container--default_caption {
		position: absolute;
    padding: 14px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
	}
	// .image {
	// 	margin: auto 0;
	// }
}
.button-top_action {
	position: fixed;
	top: 0;
	right: 0;
	padding: 14px;
	z-index: 3;
	width: 50px;
	box-sizing: content-box;
	.button_text {
		&::before,
		&::after {
			content: '';
			height: 50px;
			width: 1px;
			background: #fff;
			display: inline-block;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(135deg);
		}
	}
}
.image {
	object-fit: contain;
	max-width: 100%;
	margin-bottom: calculateRem(20px);
}

.image--profile {
	height: calculateRem(217px);
}

// container
.container {
	height: 100%;
}
.background_wrapper {
	height: 100%;
	width: 100%;
	display: flex;
}
.background_inner {
	height: 40%;
	margin: auto 0;
	width: 100%;
	transition: height 0.5s ease-out;
	.container--background {
		background-size: contain;
	}
	&.background_inner-animation {
		height: 100%;
		.container--background {
			background-size: cover;
		}
	}
}
.container--background {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

// cover page
.cover-page {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	padding: calculateRem($header-height) calculateRem(14px) calculateRem(14px);
	box-sizing: border-box;
}
.cover-page_caption {
	flex: 1;
	margin-top: auto;
	padding-bottom: calculateRem(40px);
}
.cover-page_caption_subtitle,
.cover-page_caption_title {
	margin-bottom: 0;
}
.cover-page_caption_title {
	@include font-size($f-size-xlgx);
	line-height: 1.2;
	font-weight: $f-weight-medium;
}
.cover-page_caption_subtitle {
	font-family: $font-name;
}

.cover-page_caption_description {
	@include font-size($f-size-sm);
	font-family: $font-butler-name;
	font-weight: $f-weight-medium;
}

// content page
.content-page {
	height: 100%;
	padding-top: $header-height;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.content-page_container {
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	// height: calc(100vh - #{$header-height + 24px});
	height: 100%;
	padding: 0 calculateRem(14px) calculateRem(14px) calculateRem(14px);
	box-sizing: border-box;
}
.content-page_background--overlay {
	&::before {
		content: '';
		@include overlay-style();
		z-index: 2;
		opacity: 1;
	}
	.image {
		position: absolute;
    left: 50%;
    bottom: calculateRem(20px);
    max-width: 35%;
    transform: translateX(-50%);
    z-index: 2;
	}

}
.content-page_inner {
	flex: 1;
	.button--call-to-action {
		margin-bottom: calculateRem(40px);
	}
}
.content-page_inner--alignToBottom {
	margin-top: auto;
}
.content-page_inner--alignVCenter {
	margin: auto 0;
}
.content-page_background {
	transform: scale(1.3);
	background-size: cover;
	background-repeat: no-repeat;
	// background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	// animation: background-animation .5s 1;
}
@keyframes background-animation {
	from {
		transform: scale(1);
	}
	to {
		transform: rotate(1.6);
	}
}
.content-page_background--animation {
	// animation: temblor .9s 1;
	animation: background-animation .5s 1;
}
.heading-title {
	line-height: 1;
}

// awiper
.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide p {
	@include font-size($f-size-sm);
}
.zoom-background {
	position: absolute;
	left: calculateRem(25px);
	bottom: 5%;
}
.background-zoom {
	@include font-size(30px);
	display: flex;
	align-items: center;
	justify-content: center;
	width: calculateRem(30px);
	height: calculateRem(30px);
	background: #fff;
	color: #000;
	line-height: 1;
}

.background-zoom-plus {
	right: calculateRem(10px);
	left: auto;
}

.move-backgrund {
	position: absolute;
	right: calculateRem(25px);
	display: grid;
	grid-template-columns: 3fr;
	grid-template-rows: 3fr;
	bottom: 5%;
}

.background-move {
	@include font-size(28px);
	line-height: 1;
}

.background-move-up {
	grid-column: 2;
	grid-row: 1;
}

.background-move-down {
	grid-column: 2;
	grid-row: 3;
}

.background-move-left {
	grid-column: 1;
	grid-row: 2;
}

.background-move-right {
	grid-column: 3;
	grid-row: 2;
}

.show-info {
	position: absolute;
	bottom: 17%;
	left: calculateRem(25px);
}

.show-info_button {
	@include font-size(22px);
	display: flex;
	align-items: center;
	justify-content: center;
	background: $c-color1;
	border-radius: 50%;
	width: calculateRem(35px);
	height: calculateRem(35px);
	color: $c-color4;
	.button_text {
		line-height: 1;
		margin-bottom: 5px;
	}
}